<h1>Songs</h1>

<% @songs.each do |song| %>
	<div class="song">
	  <tbody>
	 <span><tr><%= song.title %></tr></span>
	 <span><tr><%= song.released %></tr></span>
	 <span><tr><%= song.release_year %></tr></span>
	 <span><tr><%= song.artist_name %></tr></span>
	 <span><tr><%= song.genre %></tr></span>
	  <%= link_to "Delete", song, method: :delete, data: { confirm: "Really?" } %>
	  </tbody>
	</div>
<% end %>

